Repository keep-network/keep-ecdsa, pull requests merged in 2021-01, with the labels that each got.

#507 keep-ecdsa init: Stop creating sortition pools
  infrastructure/kube/templates/keep-ecdsa/initcontainer/provision-keep-ecdsa/provision-keep-ecdsa.js
Labels: :cloud: infrastructure

#675 Saddle BTC LP rewards
  solidity/contracts/LPRewards.sol
  solidity/contracts/test/LPRewardsStaker.sol
  solidity/test/LPRewardsTest.js
Labels: ⛓chain

#663 Subscription dance: backoff and logging
  go.mod
  go.sum
  pkg/chain/ethereum/ethereum.go
  pkg/chain/gen/contract/BondedECDSAKeep.go
  pkg/chain/gen/contract/BondedECDSAKeepFactory.go
  pkg/chain/gen/contract/BondedECDSAKeepVendor.go
Labels: 📟 client

#671 Incorporating the new Ethereum event subscription API and background event pull loop
  go.mod
  go.sum
  pkg/chain/ethereum/connect.go
  pkg/chain/ethereum/ethereum.go
  pkg/chain/event.go
  pkg/chain/gen/cmd/BondedECDSAKeep.go
  pkg/chain/gen/cmd/BondedECDSAKeepFactory.go
  pkg/chain/gen/cmd/BondedECDSAKeepVendor.go
  pkg/chain/gen/contract/BondedECDSAKeep.go
  pkg/chain/gen/contract/BondedECDSAKeepFactory.go
  pkg/chain/gen/contract/BondedECDSAKeepVendor.go
  pkg/chain/local/bonded_ecdsa_keep.go
  pkg/chain/local/bonded_ecdsa_keep_test.go
  pkg/chain/local/local.go
  pkg/chain/local/local_test.go
  pkg/chain/local/tbtc.go
  pkg/client/client.go
  pkg/client/event/deduplicator.go
  pkg/client/event/deduplicator_test.go
  pkg/client/event/tracking.go
  pkg/client/event/tracking_test.go
  pkg/utils/wrappers.go
  pkg/utils/wrappers_test.go
Labels: 📟 client
